.profile {
  display: flex;
  flex-direction: column;
  border-top: 1px solid $grey;

  &__return {
    align-self: start;
    margin-top: $smSpace;
  }

  &__presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 100px;
      height: 100px;
      border-radius: 50px;
    }
  }

  @include for-phone-only {
    &__repos h3 {
      text-align: center;
    }
  }

  &__count {
    border-radius: 5px;
    background-color: $grey;
    padding: 1px 6px;
    font-size: 12px;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: $smSpace;
    margin-bottom: $mdSpace;

    @include for-phone-only {
      grid-template-columns: 1fr;
    }
  }

  &__msg {
    margin-top: $lgSpace;
    text-align: center;
  }
}
