.layout {
  display: grid;
  grid-template-columns: 1fr;
  // 1fr without top margin from header
  grid-template-rows: calc(1fr - $lgSpace) 1fr;

  &__container {
    // 100% without both sides padding
    width: calc(100% - calc($smSpace + $smSpace));
    max-width: 700px;
    justify-self: center;
    padding: $smSpace;
  }
}
