/* Spaces */

$smSpace: 15px;
$mdSpace: 30px;
$lgSpace: 45px;

/* Colors */

$blue: #0969da;
$light-blue: #75a4da;
$red: #ff6961;
$grey: #d0d7de;

/* Mixins */

/* media queries */

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
