.error {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    text-align: center;

    h1 {
      margin-top: 0;
      margin-bottom: 0;
      color: $blue;
      font-size: 74px;
    }

    h2 {
      margin-top: 0;
    }
  }

  &__description {
    text-align: center;
  }

  &__button {
    margin-top: $smSpace;
  }
}
