.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $smSpace;

  &__bar {
    display: flex;

    @include for-phone-only {
      flex-direction: column;
      row-gap: $smSpace;
    }

    & > * {
      padding: $smSpace $mdSpace;
      font-size: 18px;
      outline: none;
      border-style: solid;

      @include for-phone-only {
        padding: $smSpace $smSpace;
      }
    }

    ::placeholder {
      color: $grey;
    }
  }

  &__input {
    width: 100%;

    border-color: $grey;
    border-width: 1px 0px 1px 1px;
    border-radius: 6px 0 0 6px;

    @include for-phone-only {
      // full row width minus (border and padding)
      width: calc((100% - 2px) - ($smSpace + $smSpace));
      border-radius: 6px;
      border-width: 1px;
    }

    &--error {
      border-color: $red;
    }
  }

  &__submit {
    min-width: 150px;
    cursor: pointer;

    border-color: $blue;
    border-width: 1px 1px 1px 0px;
    border-radius: 0 6px 6px 0;

    background-color: $blue;
    color: #ffffff;

    @include for-phone-only {
      border-radius: 6px;
      border-width: 1px;
    }

    &:disabled {
      border-color: $light-blue;
      background-color: $light-blue;
      color: $grey;
    }
  }

  &__message {
    text-align: center;
  }
}
