.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $lgSpace;
  padding: 0 $smSpace;

  &__logo {
    width: 100px;
    height: 100px;
    margin-top: $smSpace;
  }

  &__title {
    text-align: center;
  }
}
