.item {
  padding: $smSpace;
  overflow: hidden;
  border: 1px solid $grey;
  border-radius: 6px;

  &__title {
    font-size: 18px;
    font-weight: 600;

    &:hover {
      color: $light-blue;
    }
  }

  &__title,
  &__description {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
